.student-form {
  background: #ffffffdd;
  padding: 30px;
  border-radius: 22px;
  width: 60%;
  box-shadow: 0 8px 26px rgba(0,0,0,0.15);
  animation: fadeIn 0.5s ease;
}

.student-form label {
  font-weight: 600;
  color: #333;
}

.student-form input,
.student-form select {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 6px;
  font-size: 16px;
  transition: 0.3s;
}

.student-form input:focus,
.student-form select:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 10px rgba(106,17,203,0.4);
  outline: none;
}

/* Save Button */
button {
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  color: white;
  padding: 14px 18px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 18px rgba(0,0,0,0.25);
}
